<div class="row text-center">
	<div class="col-lg-9">
		<div class="well well-lg shadow">
			<h1><%= product.data.name %></h1>
			<p><%= product.data.description %></p><br /><br />
			<% if (typeof product.data.labels !== 'undefined' && typeof product.data.labels.medium !== 'undefined') { %>
			<img src="<%= product.data.labels.medium %>" class="img-thumbnail">
			<% } %>
		</div>
	</div>
	<div class="col-lg-3 well shadow">
		<table class="table">
			<tr>
				<td>IBU</td>
				<td>ALC</td>
			</tr>
			<tr>
				<td><%= product.data.ibu %></td>
				<td><%= product.data.abv %></td>
			</tr>
		</table>
	</div>
	<div class="row container-fluid">

		<form action="/likes" method="POST">

			<input type="hidden" value="<%= product.data.id %>" name="apiId">
			<input type="hidden" value="<%= product.data.name %>" name="name">

			<input type="submit" class="btn btn-info" id="" value="Like <%= product.data.name %>?">

		</form>
		

	</div>
</div>